.card {
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* min-width: 150px;
    min-height: 150px; */
}

.card-logo {
    width: 5ch;
    height: 5ch;
}

.card-root {
    height: 20ch;
}

.card-root > * {
    /* height: 100%; */
}

.preview-card {
    width: 20ch;
}